{% extends "students/base.html" %}

{% load i18n %}
{% load static %}

{% block meta_title %}{% trans "Login Form" %}{% endblock meta_title %}

{% block title %}{% trans "Login Form" %}{% endblock title %}

{% block status_message %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">{% trans "Please, correct the following errors." %} {{ form.non_field_errors }}</div>
{% endif %}
{% endblock %}

{% block content %}
<form action="{% url "users:auth_login" %}" method="post" class="form-horizontal">

  {% csrf_token %}
  <input type="hidden" name="next" value="{% url "home" %}" />

  <div class="form-group {% if form.errors.username %}has-error{% endif %}">
    <label for="login" class="col-sm-3 control-label">{% trans "Your Username" %}</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="login" value="{{ form.username.value|default:'' }}" name="username" />
      <span class="help-block">{{ form.errors.username }}</span>
    </div>
  </div>

  <div class="form-group {% if form.errors.password %}has-error{% endif %}">
    <label for="password" class="col-sm-3 control-label">{% trans "Your Password" %}</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="password" value="" name="password" />
      <span class="help-block">{{ form.errors.password }}</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <input type="submit" class="btn btn-default" value="{% trans "Login" %}" />
      <a href="{% url "auth_password_reset" %}" id="forgot-password">{% trans "Forgot your password?" %}</a>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <p id="text-or">{% trans "or" %}</p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <a href="{% url 'social:begin' 'facebook' %}" type="button" class="social-button"><img src="{{ PORTAL_URL }}{% static "img/facebook.jpg" %}" width="50" height="50"></a>
      <a href="{% url 'social:begin' 'google-oauth2' %}" type="button" class="social-button"><img src="{{ PORTAL_URL }}{% static "img/google.jpeg" %}" width="50" height="50"></a>
      <a href="{% url 'social:begin' 'twitter' %}" type="button" class="social-button"><img src="{{ PORTAL_URL }}{% static "img/twitter.jpeg" %}" width="50" height="50"></a>
    </div>
  </div>
  
</form>

{% endblock content %}


 
