{% load i18n %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">
  
  <head>
    <meta charset="UTF-8"/>
    <title>{% trans "Students Accounting Service" %} - {% block meta_title %}{% endblock meta_title %}
    </title>
    <meta name="description"
          value="{% trans "Students Accounting Service" %}" />
    
    <!-- Include Styles -->
    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" 
          href="{{ PORTAL_URL }}{% static "css/main.css" %}" />
          
    {% block extra_css %}{% endblock extra_css %}
  </head>
  
  <body>
    
    <!-- Start Container -->
    <div class="container">
    
      <!-- Start Header -->
      <div class="row" id="header">
      
        {% block logo %}
        <!-- Logo -->
        <div class="col-xs-6">
          <a href={% url "home" %} class="header">
             <h1>{% trans "Students Accounting Service" %}</h1></a>
        </div>
        {% endblock logo %}
        
        {% block menu_groups %}
        <!-- Group Selector -->
        <div class="col-xs-4" id="group-selector">
          <strong>{% trans "Group" %}:</strong>
          <select>
            <option value="">{% trans "All Students" %}</option>
            {% for group in groups_all %}
            
            <option value="{{ group.id }}"
                    {% if group.selected %}selected="1"{% endif %}>
                    {{ group.title }}, {{ group.leader }}</option>
            
            {% endfor %}
          </select>
        </div>
        {% endblock menu_groups %}

        <!-- Language Selector-->
        <!--
        <div class="col-xs-1" id="lang-selector">
          <select>
            {% with lang=request.COOKIES.django_language %}
            <option value='uk' {% if lang == 'uk' %}selected{% endif %}>UKR</option>
            <option value='en' {% if lang == 'en' %}selected{% endif %}>ENG</option>
            <option value='ru' {% if lang == 'ru' %}selected{% endif %}>RUS</option>
            {% endwith %}
          </select>
        </div> -->

        <!-- User Panel-->
        <div class="col-xs-2" id="user-button">
          {% if user.is_authenticated %}
            <div class="btn-group">
              <button type="button" class="btn btn-success navbar-btn">{{ user }}</button>
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="{% url 'user-logout' %}">Preference</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'user-logout' %}">Sign out</a></li>
              </ul>
            </div>
          {% else %}
            <a href="{% url 'user-auth' %}" class="btn btn-default navbar-btn form-link">Sign in</a>
            <a href="{% url 'user-register' %}" class="btn btn-info navbar-btn form-link">Sign up</a>
          {% endif %}
        </div>
        
      </div>
      <!-- End Header -->


      <!-- Start Subheader -->
      <div class="row" id="sub-header">

        <!-- Navbar -->
        {% url 'home' as url_home %}
        {% url 'journal' as url_journal %}
        {% url 'groups' as url_groups %}
        {% url 'exams' as url_exams %}
        {% url 'results' as url_results %}
        {% url 'contact_admin' as url_contact %}
        {% url 'logs' as url_logs %}
        <div class="col-xs-12">
          <ul class="nav nav-tabs">
            <li role="presentation" {% if request.path == url_home %}
                class="active"{% endif %}>
              <a href="{{ url_home }}">{% trans "Students" %}</a></li>
            <li role="presentation" {% if url_journal in request.path %}
                class="active"{% endif %}>
              <a href="{{ url_journal }}">{% trans "Journal" %}</a></li>
            <li role="presentation" {% if url_groups in request.path %}
                class="active"{% endif %}>
              <a href="{{ url_groups }}">{% trans "Groups" %}</a></li>
            <li role="presentation" {% if url_exams in request.path %}
                class="active"{% endif %}>
              <a href="{{ url_exams }}">{% trans "Exams" %}</a></li>
            <li role="presentation" {% if url_results in request.path %}
                class="active"{% endif %}>
              <a href="{{ url_results }}">{% trans "Results" %}</a></li>
            <li role="presentation" {% if url_contact in request.path %}
                class="active"{% endif %}>
              <a href="{{ url_contact }}" id="contact-link">{% trans "Contact" %}</a></li>
            <li role="presentation" {% if url_logs in request.path %}
                class="active"{% endif %}>
              <a href="{{ url_logs }}" id="contact-link">{% trans "Events"%}</a></li>
        </ul>
        </div>
      </div>
      <!-- End Subheader -->
      
      <!-- Start Main Page Content -->
      <div class="row" id="content-columns">
      
        <div class="col-xs-12" id="content-column">
          
          <!-- Status Message -->
          {% block status_message %}
          {% if request.GET.status_message %}
          <div class="alert alert-warning" role="alert">
               {{ request.GET.status_message }}</div>
          {% endif %}
          {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger
                 {% else %}{{ message.tags }}{% endif %}
                 "
                 role="alert">{{ message }}</div>
          {% endfor %}
          {% endif %}
          {% endblock status_message %}
          
            <h2>{% block title %}{% endblock title %}</h2>
            {% block add_button %}{% endblock add_button %}
          {% block content %}{% endblock content %}
        
        </div>
        
      </div>
      <!-- End Main Page Content -->
      
      {% block footer %}
      <!-- Start Footer -->
      <div class="row" id="footer">
        <div class="col-xs-12">
          &copy; 2017 {% trans "Students Accounting Service" %}
        </div>
      </div>
      <!-- End Footer -->
      {% endblock footer %}
      
    </div>
    <!-- End Container -->

    <!-- Modal Boilerplate -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><!-- --></h4>
            <div class="alert alert-danger" role="alert" hidden>
              Server Error! Please try later.
            </div>
          </div>
          <div class="modal-body">
            <!-- -->
          </div>
          <div class="modal-footer">
            <!-- -->
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Alert -->
    <div class="modal fade" id="modalAlert" tabindex="-2" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
             <div class="loader"></div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Javascripts Section -->
    <script 
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script
          src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://balupton.github.io/jquery-scrollto/lib/jquery-scrollto.js"></script>
    <script src="https://browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
    <script src="{{ PORTAL_URL }}{% static "js/jquery.cookie.js" %}">
    </script>
    <script 
          src=
          "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
          crossorigin="anonymous"></script>
    <script
          src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/uk.js"></script>
    <script type="text/javascript" src="{{ PORTAL_URL }}{% url "javascript-catalog" %}"></script>
    <script type="text/javascript"
            src="{{ PORTAL_URL }}{% static "js/main.js" %}"></script>
    {% block extra_js %}{% endblock extra_js %}      
  </body>
  
</html>
