{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Редагування Іспиту{% endblock meta_title %}

{% block status_message %}
  {% if errors %}
    <div class="alert alert-danger" role="alert">
         Будь-ласка, виправте наступні помилки</div>
  {% endif %}
{% endblock status_message %}

{% block title %}Редагувати Іспит{% endblock title %}

{% block content %}
       
<!-- FORM -->

<form class="form-horizontal" action="{% url "exams_edit" addition.exam.id %}" method="post" 
      enctype="multipart/form-data" role="form">
  {% csrf_token %}
  
  <!-- Name -->
  <div class="form-group {% if errors.name %}has-error{% endif %}">
    <label for="name" class="col-sm-2 control-label">
      Назва предмету*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" 
             value="{{ request.POST.name }}{{ addition.exam.name }}" placeholder="Введіть назву предмету" name="name" aria-describedby="helpName" />
      <span class="help-block" id="helpName">{{ errors.name }}</span>
    </div>
  </div>

  <!-- Exam date -->
  <div class="form-group {% if errors.date %}has-error{% endif %}">
    <label for="date" class="col-sm-2 control-label">
      Дата та час іспиту*</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="date" 
             placeholder="напр. 2016-12-12 10:00" name="date"
             value="{{ request.POST.date }}{{ addition.exam.date }}" aria-describedby="helpDate" />
      <span class="help-block" id="helpDate">{{ errors.date }}</span>
    </div>
  </div>

  <!-- Teacher Name -->
  <div class="form-group {% if errors.teacher_name %}has-error{% endif %}">
    <label for="teacher_name" class="col-sm-2 control-label">
      Викладач*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="ticher_name" 
             value="{{ request.POST.teacher_name }}{{ addition.exam.teacher_name }}" placeholder="Введіть прізвище та ініціали викладача" name="teacher_name" aria-describedby="helpTeacherName" />
      <span class="help-block" id="helpTeacherName">{{ errors.teacher_name }}</span>
    </div>
  </div>

  <!-- Selector of Group -->
  <div class="form-group {% if errors.exam_group %}has-error{% endif %}">
    <label for="exam_group" class="col-sm-2 control-label">
      Група*</label>
    <div class="col-sm-10">
      <select id="exam_group" name="exam_group" class="form-control"
              aria-describedby="helpExamGroup">
        <option value="">Виберіть групу</option>
        {% for group in groups_all %}
        <option value="{{ group.id }}"
                {% if group.id == request.POST.exam_group|add:0 or group.id == addition.exam.exam_group.id|add:0 %}selected{% endif %}
                >{{ group.title }}</option>
        {% endfor %}
      </select>
      <span class="help-block" id="helpExamGroup">{{ errors.exam_group }}</span>
    </div>
  </div>
  
  <!-- Addition Notes -->
  <div class="form-group">
    <label for="notes" class="col-sm-2 control-label">
      Додаткові Нотатки</label>
    <div class="col-sm-10">
      <textarea id="notes" name="notes" placeholder="Введіть додаткову інформацію"
                class="form-control">{% if request.POST.notes or addition.exam.notes %}{{ request.POST.notes }}{{ addition.exam.notes }}{% endif %}</textarea>
    </div>
  </div>
  
  
  <!-- Buttons -->
  <div class="form-group controls">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary" value="Зберегти"
             name="save_button" />
      <button type="submit" class="btn btn-link" href="#" 
             name="cancel_button" />Скасувати</button>
    </div>
  </div>
</form>

<!-- End FORM -->
        
{% endblock content %}
