{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}{{ title }}{% endblock meta_title %}

{% block status_message %}
{% if form.errors %}
  <div class="alert alert-danger" role="alert">
       {% trans "Please, correct the following errors" %}</div>
{% endif %}
{% endblock %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
      
<!-- FORM -->

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a href="#">{% trans "Ukrainian" %}</a></li>
  <li role="presentation"><a href="#">{% trans "English" %}</a></li>
  <li role="presentation"><a href="#">{% trans "Russian" %}</a></li>
</ul>
</br>

{% language 'en' %}
  
{% crispy form %}

{% endlanguage %}
  
{% if object.time_change %}<p>Last update: {{ object.time_change }}</p>{% endif %}
        
{% endblock content %}
