{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}{{ title }}{% endblock meta_title %}

{% block status_message %}
{% if form.errors %}
  <div class="alert alert-danger" role="alert">
       {% trans "Please, correct the following errors" %}</div>
{% endif %}
{% endblock %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
      
<!-- FORM -->

{% if lang %}

{% if action == "students_edit" or action == "groups_edit" %}

<div id='select-language'>
  <div class="col-sm-2"></div>
  <ul class="nav nav-tabs col-sm-10">
    <li role="presentation" {% if lang == 'uk' %}class="active"{% endif %}>
      <a href="{% url action item_id 'uk' %}">{% trans "Ukrainian" %}</a></li>
    <li role="presentation" {% if lang == 'en' %}class="active"{% endif %}>
      <a href="{% url action item_id 'en' %}">{% trans "English" %}</a></li>
    <li role="presentation" {% if lang == 'ru' %}class="active"{% endif %}>
      <a href="{% url action item_id 'ru' %}">{% trans "Russian" %}</a></li>
  </ul>
</div>

{% else %}

<div id='select-language'>
  <div class="col-sm-2"></div>
  <ul class="nav nav-tabs col-sm-10">
    <li role="presentation" {% if lang == 'uk' %}class="active"{% endif %}>
      <a href="{% url action 'uk' %}">{% trans "Ukrainian" %}</a></li>
    <li role="presentation" {% if lang == 'en' %}class="active"{% endif %}>
      <a href="{% url action 'en' %}">{% trans "English" %}</a></li>
    <li role="presentation" {% if lang == 'ru' %}class="active"{% endif %}>
      <a href="{% url action 'ru' %}">{% trans "Russian" %}</a></li>
  </ul>
</div>

{% endif %}

{% endif %}

{% language lang %}

{% crispy form %}

{% endlanguage %}
  
{% if object.time_change %}<p>Last update: {{ object.time_change }}</p>{% endif %}
        
{% endblock content %}
