{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Редагування Групи{% endblock meta_title %}

{% block status_message %}
  {% if errors %}
    <div class="alert alert-danger" role="alert">
         Будь-ласка, виправте наступні помилки</div>
  {% endif %}
{% endblock status_message %}

{% block title %}Редагувати Групу{% endblock title %}

{% block content %}
       
<!-- FORM -->

<form class="form-horizontal" action="{% url "groups_edit" addition.group.id %}" method="post" 
      enctype="multipart/form-data" role="form">
  {% csrf_token %}
  
  <!-- Title -->
  <div class="form-group {% if errors.title %}has-error{% endif %}">
    <label for="title" class="col-sm-2 control-label">
      Назва групи*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" 
             value="{{ request.POST.title }}{{ addition.group.title }}" placeholder="Введіть назву групи (напр. АБ - 16)" name="title" aria-describedby="helpTitle" />
      <span class="help-block" id="helpTitle">{{ errors.title }}</span>
    </div>
  </div>
  
  <!-- Selector of Student -->
  <div class="form-group {% if errors.leader %}has-error{% endif %}">
    <label for="leader" class="col-sm-2 control-label">
      Староста групи</label>
    <div class="col-sm-10">
      <select id="leader" name="leader" class="form-control"
              aria-describedby="helpLeader">
        <option value="">Виберіть студента</option>
        {% for student in addition.students_all %}
        <option value="{{ student.id }}"
                {% if student.id == request.POST.leader|add:0 or student.id == addition.group.leader.id|add:0 %}selected{% endif %}
                >{{ student.last_name }} {{ student.first_name }} ({{ student.student_group.title }})</option>
        {% endfor %}
      </select>
      <span class="help-block" id="helpLeader">{{ errors.leader }}</span>
    </div>
  </div>
  
  <!-- Addition Notes -->
  <div class="form-group">
    <label for="notes" class="col-sm-2 control-label">
      Додаткові Нотатки</label>
    <div class="col-sm-10">
      <textarea id="notes" name="notes" placeholder="Введіть додаткову інформацію"
                class="form-control">{% if request.POST.notes or addition.group.notes %}{{ request.POST.notes }}{{ addition.group.notes }}{% endif %}</textarea>
    </div>
  </div>
  
  
  <!-- Buttons -->
  <div class="form-group controls">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary" value="Зберегти"
             name="save_button" />
      <button type="submit" class="btn btn-link" href="#" 
             name="cancel_button" />Скасувати</button>
    </div>
  </div>
</form>

<!-- End FORM -->
        
{% endblock content %}
