{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load pagenav %}

{% block meta_title %}{% trans "Groups" %}{% endblock meta_title %}

{% block title %}{% trans "Groups" %}{% endblock title %}

{% block add_button %}
<!-- Add Group Button -->
<a class="btn btn-primary form-link"
   href="{% url "groups_add" %}">{% trans "Add Group" %}</a>
{% endblock add_button %}
          
{% block content %}

{% if context.groups %}

<!-- Start Group Listing -->
<table class="table table-hover table-striped">
  <thead>
    <tr>
      {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
      <th><a href=
             "{% url "groups" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">
             №{% if order_by == 'id' and reverse != '1' %}
             &uarr;{% elif order_by == 'id' and reverse == '1' %}
             &darr;{% endif %}</a></th>
      <th><a href=
             "{% url "groups" %}?order_by=title{% if order_by == 'title' and reverse != '1' or order_by == '' %}&amp;reverse=1{% endif %}">
             {% trans "Name" %} {% if order_by == 'title' and reverse != '1' or order_by == '' %}
             &uarr;{% elif order_by == 'title' and reverse == '1' %}
             &darr;{% endif %}</a></th>
      <th><a href=
             "{% url "groups" %}?order_by=leader__last_name{% if order_by == 'leader__last_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
             {% trans "Leader" %} {% if order_by == 'leader__last_name' and reverse != '1' %}
             &uarr;{% elif order_by == 'leader__last_name' and reverse == '1' %}
             &darr;{% endif %}</a></th>
      <th>{% trans "Actions" %}</th>
    {% endwith %}
    </tr>
  </thead>
  <tbody>
    
    {% for group in context.groups %}
    <!-- Test Group-->
    <tr>
      <td>{{ context.page_obj.start_index|add:forloop.counter|add:"-1" }}</td>
      <td><a class="form-link"
             href="{% url "groups_edit" group.id %}">{{ group.title }}</a></td>
      <td>{% if group.leader %}
          <a href="{% url "students_edit" group.leader.id %}"
             class="form-link">
          {{ group.leader.last_name }} {{ group.leader.first_name}}</a></td>
          {% endif %}
      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" 
                  type="button" data-toggle="dropdown" >{% trans "Action" %}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" 
              aria-labelledby="dropdownMenu1">
            <li><a class="form-link" href="{% url "groups_edit" group.id %}">{% trans "Edit" %}</a></li>
            <li><a href="{% url "groups_delete" group.id %}"
                   class="form-link">{% trans "Delete" %}</a></li>
          </ul>
        </div>
      </td>
    </tr>
    
    {% endfor %}
    
  </tbody>
</table>
<!-- End Groups Listing -->

{% if context.is_paginated and context.page_obj.number < context.paginator.num_pages %}
  {% with order_by=request.GET.order_by reverse=request.GET.reverse url_page=request.path_info %}
    <p class="buttonLoad">
    <a type="button" class="btn btn-default" href="{{ url_page }}?page={{ context.page_obj.next_page_number }}{% if order_by %}&amp;order_by={{order_by }}{% endif %}{% if reverse %}&amp;reverse={{ reverse }}{% endif %}{% if cur_month %}&amp;month={{ cur_month }}{% endif %}" id="buttonLoadMore">{% trans "Load More" %}</a>
    </p>
  {% endwith %}
{% endif %}

{% else %}
<p class='none'></br></br>{% trans "Currently there aren't groups in the database" %}</p>
{% endif %}

{% pagenav page_obj=context.page_obj is_paginated=context.is_paginated paginator=context.paginator %}
        
{% endblock content %}
