{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load pagenav %}

{% block meta_title %}{% trans "Accounting Visits" %}{% endblock meta_title %}

{% block title %}{% trans "Accounting Visits" %}{% endblock title %}

{% block content %}
   
<!-- Start Students Listing -->

{% if students %}

<div class="alert alert-info" role="info">
    {% trans "Changes in journal page save automatically at every click on the table cell." %}
    <span id="ajax-progress-indicator">{% trans "Is saving" %}...</span>
</div>

<p id="journal-nav" class="month text-center">
  <a href="?month={{ prev_month }}"
     title="Попередній Місяць">&larr;</a>
  <strong>{% trans month_verbose %} {{ year }}</strong>
  <a href="?month={{ next_month }}"
     title="Наступний Місяць">&rarr;</a>
</p>
      
<!-- Start Group Listing -->
<table class="table table-hover table-striped table-bordered" id="students-journal">

  <thead>
    <tr class="header">
      <th class="num">№</th>
      <th class="name">{% trans "Student" %}</th>
      {% for day in month_header %}
      <th class="day-header">{% trans day.verbose %}</br>{{ day.day }}</th>
      {% endfor %}
    </tr>
  </thead>
  
  <tbody>

    {% csrf_token %}
    {% for student in students %}
    <tr>
      
      <td>
        {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
      </td>
      
      <td><a class="form-link" title="Редагувати"
           href="{% url 'students_edit' student.id %}">
           {{ student.fullname }}</a></td>
      {% for day in student.days %}
      <td class="day-box">
        {% if disabled is None and day.disabled is None and day.day|add:0 <= current_day|add:0 %}
        <input type="checkbox" data-student-id="{{ student.id }}"
               data-date="{{ day.date }}" data-url="{{ student.update_url }}"
               value="1" {% if day.present %}checked="checked"{% endif %}>
        {% else %}
        -
        {% endif %}
      </td>
      {% endfor %}
      
    </tr>
    {% endfor %}
  
  </tbody>
  
</table>
{{ context }}
{% if is_paginated and page_obj.number < paginator.num_pages %}
    {% with url_page=request.path_info %}
    <p class="buttonLoad">
      <a type="button" class="btn btn-default" href="{{ url_page }}?page={{ page_obj.next_page_number }}{% if cur_month %}&amp;month={{ cur_month }}{% endif %}" id="buttonLoadMore">{% trans "Load More" %}</a>
    </p>
    {% endwith %}
  {% endif %}

{% else %}
<p class='none'></br></br>{% trans "Currently there aren't students in the database. Please," %} <a
        href="{% url "students_add" %}">{% trans "add" %}</a> {% trans "first" %}</p>
{% endif %}

<!-- End Students Listing -->

{% pagenav page_obj=page_obj is_paginated=is_paginated paginator=paginator %}

{% endblock content %}
