{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Event Info" %}{% endblock meta_title %}

{% block title %}{% trans "About Event" %}{% endblock title %}

{% block add_button %}
{% endblock add_button %}
          
{% block content %}

<h4>{{ context.log.status }} {{ context.log.signal }}</br>{{context.log.log_datetime }}</h4></br>

<p>{% trans "Detail" %}:</p>
<div class="alert alert-info" role="info">
    <p>{{ context.log.info }}</p>
</div>

        
{% endblock content %}
