{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Редагувати Студента{% endblock meta_title %}

{% block title %}Редагувати Студента{% endblock title %}

{% block content %}
      
       
<!-- FORM -->

<form class="form-horizontal" action="" method="post" 
      enctype="multipart/form-data">
  
  {% csrf_token %}
  
  {{ form.as_p }}
  
  <!-- Buttons -->
  <div class="form-group controls">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary" value="Зберегти"
             name="add_button" />
      <button type="submit" class="btn btn-link" value="Скасувати"
             name="cancel_button" />Скасувати</button>
    </div>
  </div>
</form>

<!-- End FORM -->
        
{% endblock content %}
