{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Deleting Selected Students" %}{% endblock meta_title %}

{% block title %}{% trans "Deleting Selected Students" %}{% endblock title %}

{% block content %}
      
<!-- FORM -->

<form action="." method="post" class="form-horizontal">
  {% csrf_token %}
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <h4>{% trans "Do you realy want to delete this students" %}?</h4>
      <ul>
        {% for student in students %}
        <li>{{ student.last_name }} {{ student.first_name }}</li>
        <input type="hidden" name="students_id" value="{{ student.id }}">
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="form-group controls">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <input type="submit" class="btn btn-danger" name="delete_button"
             value="{% trans "Yes" %}" />
      <input type="submit" class="btn btn-link" href="#" 
              name="cancel_button" value="{% trans "Cancel" %}"/>
    </div>
  </div>
</form>
  
        
{% endblock content %}
