{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load tz %}
{% load pagenav %}

{% block meta_title %}{% trans "Students" %}{% endblock meta_title %}

{% block title %}{% trans "Students List" %}{% endblock title %}

{% block add_button %}
<!-- Add Student Button -->
<a id='add_button' class="btn btn-primary form-link" href="{% url "students_add" %}">
   {% trans "Add Student" %}</a>
{% endblock add_button %}
   
{% block content %}
<!-- Start Students Listing -->

<form id="change-student-list" method="post" action=".">
  {% csrf_token %}

  {% if context.students %}
  
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        {% if user.is_authenticated %}
        <th><input type="checkbox" name="delete-check" value="all" disabled></th>
        {% endif %}
        <th>
          <a href="{% url "home" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&reverse=1
            {% endif %}">
             № {% if order_by == 'id' and reverse != '1' %} &uarr;
            {% elif order_by == 'id' and reverse == '1' %}
            &darr;
            {% endif %}
          </a>
        </th>
        <th>{% trans "Photo" %}</th>
        <th>
          <a href="{% url "home" %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1' or order_by == ''%}&reverse=1
            {% endif %}">
             {% trans "Last Name" %} {% if order_by == 'last_name' and reverse != '1' or order_by == '' %} &uarr;
            {% elif order_by == 'last_name' and reverse == '1' %}
            &darr;
            {% endif %}
          </a>
        </th>
        <th>
          <a href="{% url "home" %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&reverse=1
            {% endif %}">
            {% trans "First Name" %}{% if order_by == 'first_name' and reverse != '1' %} &uarr;
            {% elif order_by == 'first_name' and reverse == '1' %}
            &darr;
            {% endif %}
          </a>
        </th>
        <th>
          <a href="{% url "home" %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&reverse=1
            {% endif %}">
            {% trans "Ticket #" %}{% if order_by == 'ticket' and reverse != '1' %} &uarr;
            {% elif order_by == 'ticket' and reverse == '1' %}
            &darr;
            {% endif %}
          </a>
        </th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    {% get_current_language as LANGUAGE_CODE %}
    <tbody>
      {% for student in context.students %}
        
        <tr>
          {% if user.is_authenticated %}
          <td><input type="checkbox" name="delete-check"
               value="{{ student.id }}"></td>
          {% endif %}
          <td>{{ context.page_obj.start_index|add:forloop.counter|add:"-1" }}</td>
          <td>
            <img height="30" width="30" 
                 {% if student.photo %}
                 src="{{ student.photo.url }}"
                 {% else %}
                 src={{ PORTAL_URL }}{% static "img/default_user.png" %}
                 {% endif %} 
                 class="img-circle">
          </td>
          <td>
            {% if user.is_authenticated %}<a class="form-link"
               href="{{ PORTAL_URL }}{% url "students_edit" student.id %}">
               {{ student.last_name }}</a>{% else %}{{ student.last_name }}{% endif %}
          </td>
          <td>
            {% if user.is_authenticated %}<a href="{{ PORTAL_URL }}{% url "students_edit" student.id %}"
               class="form-link">{{ student.first_name }}</a>{% else %}{{ student.first_name }}{% endif %}
          </td>
          <td>{{ student.ticket }}</td>
          <td>

            {% if user.is_authenticated %}
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" 
                      type="button" data-toggle="dropdown" >{% trans "Action" %}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" 
                  aria-labelledby="dropdownMenu1">
                <li>
                  <a href="{{ PORTAL_URL }}{% url "journal" student.id %}"
                     class="journalNavigate">{% trans "Journal" %}</a>
                </li>
                <li>
                  <a href="{{ PORTAL_URL }}{% url "students_edit" student.id LANGUAGE_CODE %}" class="form-link">
                     {% trans "Edit" %}</a>
                </li>
                <li>
                  <a class="form-link" href="{{ PORTAL_URL }}{% url "students_delete" student.id %}">
                     {% trans "Delete" %}</a>
                  </li>
              </ul>
            </div>
            {% else %} - {% endif %}
          </td>
        </tr>
      
      {% endfor %}

    </tbody>
  </table>
  {% if context.is_paginated and context.page_obj.number < context.paginator.num_pages %}
    {% with order_by=request.GET.order_by reverse=request.GET.reverse url_page=request.path_info %}
    <p class="buttonLoad">
    <a type="button" class="btn btn-default" href="{{ url_page }}?page={{ context.page_obj.next_page_number }}{% if order_by %}&amp;order_by={{order_by }}{% endif %}{% if reverse %}&amp;reverse={{ reverse }}{% endif %}{% if cur_month %}&amp;month={{ cur_month }}{% endif %}" id="buttonLoadMore">{% trans "Load More" %}</a>
    </p>
    {% endwith %}
  {% endif %}

  {% if user.is_authenticated %}
  <div class="actions">
    <label class="control-label">{% trans "Дія:" %} </label>
    <select class='work-options' name="action-group">
      <option selected>--------------------------</option>
      <option value="delete">{% trans "Delete selected students" %}</option>
    </select>
    <input type="submit" value="{% trans "Execute" %}" name="action_button">
  </div>
  {% endif %}
</form>

{% endwith %}

{% else %}
<p class='none'>{% trans "Currently there aren't students in the database" %}</p>
{% endif %}

<!-- End Students Listing -->

<!-- Pagination -->

{% pagenav page_obj=context.page_obj is_paginated=context.is_paginated paginator=context.paginator %}
  
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}

 
