{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Deleting Student" %}{% endblock meta_title %}

{% block title %}{% trans "Deleting Student" %}{% endblock title %}

{% block content %}
      
<!-- FORM -->
  
<form action="{% url "students_delete" object.id %}" method="post" class="form-horizontal">
  {% csrf_token %}
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <h4>{% blocktrans %}Do you realy want to delete student: "{{ object }}"?{% endblocktrans %}</h4>
    </div>
  </div>
  <div class="form-group controls">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <input type="submit" class="btn btn-danger" name="delete_button"
             value="{% trans "Yes" %}" />
      <input type="submit" class="btn btn-link" href="#" 
              name="cancel_button" value="{% trans "Cancel" %}"/>
    </div>
  </div>
</form>
  
        
{% endblock content %}
