/* Global Styles */
.alert {
  margin-bottom: 5px;
}

h1, h2, h3 {
  font-weight: bold;
}

a.header {
  color: #333;
  text-decoration: none;
}

#modalAlert {
  text-align: center;
  paddin: 0!important;
}

#modalAlert:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#modalAlert .modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#modalAlert .modal-content {
  box-shadow: none;
  background-color: transparent;
  border: none;
}

/* Group Selector */
#group-selector {
  margin-top: 30px;
}

#group-selector select {
  margin: 0;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  line-height: 30px;
  color: #555555;
  width: 85%;
}

/* Main Content Styles */

#content-column h2 {
  display: inline-block;
  margin-right: 15px;  
}

#content-column a {
  margin-bottom: 10px;
}


p.none {
  font-size: 16px;
}

/* Footer Styles */
#footer {
  border-top: 1px solid #dddddd;
  padding-top: 10px;
}

/* Style for Journal */
th.day-header,
td.day-box {
  padding: 4px !important;
  vertical-align: middle !important;
  text-align: center;
}

#ajax-progress-indicator {
   display: none;
}

/* Style for StudentForm */
label {
  font-weight: normal;
}

p.form {
  margin-bottom: 0px;
}

a.form {
  color: #333;
}

/* Form Styles */

textarea,
select,
input {
  max-width: 300px;
}


