/* Global Styles */
.alert {
  margin-bottom: 10px;
}

h1, h2, h3 {
  font-weight: bold;
}

a.header {
  color: #333;
  text-decoration: none;
}

.subheader {
  margin-bottom: 10px;
}

/* Group Selector */
#group-selector {
  margin-top: 30px;
}

#group-selector select {
  margin: 0;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  line-height: 30px;
  color: #555555;
  width: 85%;
}

/* Main Content Styles */
#content-columns {
  margin-top: 15px;
}

#content-column h2 {
  float: left;
  margin-top: 0px;
  margin-right: 15px;
}

p.none {
  margin-top: 10px;
  font-size: 16px;
}

/* Footer Styles */
#footer {
  border-top: 1px solid #dddddd;
  padding-top: 10px;
}

/* Style for Journal */
th.day-header,
td.day-box {
  padding: 4px !important;
  vertical-align: middle !important;
  text-align: center;
}

.alert-info {
  position: relative;
  top: 25px;
}

.month {
  position:relative;
  top: 25px;
}

#students-journal {
  margin-top: 30px;
}

.none {
  float: block;
}

/* Style for StudentForm */
label {
  font-weight: normal;
}

p.form {
  margin-bottom: 0px;
}

a.form {
  color: #333;
}

/* Form Styles */
.form-horizontal {
  margin-top: 60px;
}

textarea,
select,
input {
  max-width: 300px;
}

