{% extends "students/base.html" %}

{% load i18n %}
{% load static %}

{% block meta_title %}{% trans "Login Form" %}{% endblock meta_title %}

{% block title %}{% trans "Login Form" %}{% endblock title %}

{% block extra_facebook_js %}
<div id="fb-root"></div>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      alert('Fail! Please log into this app.');
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }
  
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '857787427697137',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      alert('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
   
</script>

{% endblock extra_facebook_js %}

{% block status_message %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">{% trans "Please, correct the following errors." %} {{ form.non_field_errors }}</div>
{% endif %}
{% endblock %}

{% block content %}
<div id="status"></div>
<form action="{% url "users:auth_login" %}" method="post" class="form-horizontal">

  {% csrf_token %}
  <input type="hidden" name="next" value="{% url "user-time" %}" />

  <div class="form-group {% if form.errors.username %}has-error{% endif %}">
    <label for="login" class="col-sm-4 control-label">{% trans "Your Username" %}</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="login" value="{{ form.username.value|default:'' }}" name="username" />
      <span class="help-block">{{ form.errors.username }}</span>
    </div>
  </div>

  <div class="form-group {% if form.errors.password %}has-error{% endif %}">
    <label for="password" class="col-sm-4 control-label">{% trans "Your Password" %}</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="password" value="" name="password" />
      <span class="help-block">{{ form.errors.password }}</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <input type="submit" class="btn btn-default" value="{% trans "Login" %}" />
      <a href="{% url "auth_password_reset" %}" id="forgot-password">{% trans "Forgot your password?" %}</a>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <p id="text-or">{% trans "or" %}</p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
      <a href="{% url 'social:begin' 'facebook' %}" type="button" class="social-button"><img src="{{ PORTAL_URL }}{% static "img/facebook.jpg" %}" width="50" height="50"></a>
      <a href="{% url 'social:begin' 'google-oauth2' %}" type="button" class="social-button"><img src="{{ PORTAL_URL }}{% static "img/google.jpeg" %}" width="50" height="50"></a>
      <a href="{% url 'social:begin' 'twitter' %}" type="button" class="social-button"><img src="{{ PORTAL_URL }}{% static "img/twitter.jpeg" %}" width="50" height="50"></a>
    </div>
  </div>
  
</form>

{% endblock content %}


 
