{% extends "students/base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}Зв'язок з адміністратором{% endblock meta_title %}

{% block status_message %}
  {% if errors or form.errors %}
    <div class="alert alert-danger" role="alert">
         Будь-ласка, виправте наступні помилки</div>
  {% endif %}

  {{ block.super }}
  
{% endblock status_message %}

{% block title %}Зв'язок з адміністратором{% endblock title %}

{% block content %}

{% crispy form %}
        
{% endblock content %}
