{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}{% trans "Connect with administrator" %}{% endblock meta_title %}

{% block title %}{% trans "Connect with administrator" %}{% endblock title %}

{% block status_message %}
  {% if errors or form.errors %}
    <div class="alert alert-danger" role="alert">
         {% trans "Please, correct the following errors" %}</div>
  {% endif %}

  {{ block.super }}
  
{% endblock status_message %}

{% block content %}

{% crispy form %}
        
{% endblock content %}
