{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Зв'язок з адміністратором{% endblock meta_title %}

{% block status_message %}
  {% if errors %}
    <div class="alert alert-danger" role="alert">
         Будь-ласка, виправте наступні помилки</div>
  {% endif %}

  {{ block.super }}
  
{% endblock status_message %}

{% block title %}Зв'язок з адміністратором{% endblock title %}

{% block content %}
</br>
</br>
</br>

<form action="{% url "contact_admin" %}" method="post" >
  {% csrf_token %}

  {{ form.as_p }}

  <input type="submit" class="btn btn-primary" value="Надіслати"
             name="send_button" />
</form>
        
{% endblock content %}
